
.container {
    margin-top: 60px;
}

.scene .card.large {
  height: 1000px;
}


mark {
  background-color: #80cbc4 ;
  font-weight: 600;
  /* background: none; */
}

h5 {
  margin-top: 2rem !important;
}

span.hightlight {
  font-weight: 600;
}

.card-title span,
.weatherIcon {
  font-size: 1.2rem;
  margin-right: 10px; 
}

span.hp-Icon i.tiny {
  vertical-align: text-bottom;
  font-size: 1.2rem;
  margin-right: 3px;
}

.card .card-content .card-title i.weatherIcon{
  line-height: 16px;
}

#tTime::after,
#tDate::after {
  font-size: 2rem;
  line-height: 16px;
}

#tTime::after {
  content: " | ";
}

@media screen and (max-width: 1080px){
  #tTime,
  #tDate{
    font-size: 1.2rem;
    /* margin-right: 4px; */
  }
}

/* @media screen and (max-width: 1080px){
  #tTime::after {
    content: "";
  }
} */

@media screen and (max-width: 1080px){
  .weather-data {
    display: none;
  }
}

.collection .taskItem {
    background-color: #eee;
}

.collection .taskItem.isChecked {
  background-color: rgba(21, 101, 192, 0.5);
  font-weight: 500;
}

.task-categories label {
  margin-right: 20px;
}

[type="checkbox"] + span:not(.lever) {
  padding-left: 25px;
}

.priorityCheck {
  margin-bottom: 10px;
}

ul.collection {
  /* width: 1000px; */
  margin-bottom: 20px !important;
}

.delete-item:hover {
  cursor: pointer;
}

.slideIn {
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-timing-function: linear;
}

@keyframes slideIn{
  from {
    margin-right: 100%;
    width: 0;
  }

  to {
    margin-right: 100%;
    width: 100%;
  }
}

.slideOut {
  /* background-color: #26a69a; */
  background-image: linear-gradient(to left,
  rgba(15, 65, 60, .9) 25%,
  rgba(15, 65, 60, .5) 50%,
  rgba(15, 65, 60, .3) 75%);
  color: white;
  height: 100%;
  width: 5%;
  animation-name: slideout;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-timing-function: linear;
}

@keyframes slideout{
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 100%;
  }
}

#fact {
  display:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal.clearTaskModal{
  width: 35%
}
@media screen and (max-width:1000px){
  .modal.clearTaskModal{
    width: 100%
  }
}
.modal .modal-footer.modal-btns {
  text-align:center;
  margin: auto auto 10px;
  height: 65px;
}

.modal .modal-footer.modal-btns .btn {
  margin-right: 10px;
}

@media screen and (max-width:1000px){
  .modal .modal-footer.modal-btns .btn {
    font-size: 0.8rem;
  }
}



/* Cube Transform */

.radio-group {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.radio-group label {
  margin-right: 10px;
}

.scene {
  width: 100%;
  height: 800px;
  margin-bottom: 20px;
  perspective: 1000px;
}

.cube {
  width: 100%;
  height: 800px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-400px);
  transition: transform 2s;
}

.cube.show-front  { transform: translateZ(-400px) rotateY(0deg); }
.cube.show-right  { transform: translateZ(-400px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-400px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-400px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-400px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-400px) rotateX(  90deg); }

.cube__face {
  position: absolute;
  width: 100%;
  height: 800px;
  font-size: 2rem;
  /* line-height: 200px;
  font-weight: bold;
  color: white; */
  text-align: center;
}

.cube__face--front .card  { background: hsla(  0, 100%, 50%, 0.7); }
.cube__face--right .card  { background: hsla( 60, 100%, 50%, 0.7); }
.cube__face--back  .card  { background: hsla(120, 100%, 50%, 0.7); }
.cube__face--left  .card  { background: hsla(180, 100%, 50%, 0.7); }
.cube__face--top   .card  { background: hsla(240, 100%, 50%, 0.7); }
.cube__face--bottom .card { background: hsla(300, 100%, 50%, 0.7); }

.cube__face--front  { transform: rotateY(  0deg) translateZ(400px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(400px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(400px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(400px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(400px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(400px); }



/* Footer */

.footer-site-logo {
  display: inline-block;
  color: #fff;
  position: relative;
  top: 5px;
  left: 5px;
  animation: 3s linear 2.5 alternate slidein;
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  opacity: 9;
}

@keyframes slidein {
  0% {
    margin-left: -80%;
  }
  100% {
    margin-left: 80%;
    transform: rotate(360deg);
  }
}